body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
  text-decoration-style: wavy;
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
}

#pic {
  position: absolute;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100vw;
}

#next {
  position: fixed;
  font-size: 30px;
  margin: 0;
  bottom: 3px;
  right: 10px;
}

#next:hover {
  color: #ff4e36;
  cursor: pointer;
}

#back {
  position: fixed;
  bottom: 10px;
}
