
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 0;
  margin-top: 40px;
}

p {
  filter: blur(4px);
  transition: 0.5s;
}

p:hover {
  filter: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
}

.img {
  display: block;
  margin: 0 auto;
  width: 65vw;
  padding-top: 2em;
  filter: blur(0.5em);
  transition: 0.5s;
}

.img-r {
  display: block;
  margin: 0 auto;
  transform: translate(30%);
  width: 40vw;
  padding-top: 2em;
  filter: blur(0.5em);
  transition: 0.5s;
}

.img-l {
  display: block;
  margin: 0 auto;
  transform: translate(-30%);
  width: 40vw;
  padding-top: 2em;
  filter: blur(0.5em);
  transition: 0.5s;
}

.img:hover, .img-r:hover, .img-l:hover {
  filter: none;
}

#description {
  left: 10px;
  top: 10px;
  width: 20vw;
}

#pics {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  /*height: 90vh;*/
  width: 70vw;
  overflow-y: auto;
  overflow-x: hidden;
}

#webring, #back {
  position: fixed;
  background-color: white;
  bottom: 10px;
}
