body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-bottom: 13px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
}

p {
  margin: 0;
}

.char {
  filter: blur(2.5px);
  transition: 15s ease-out;
}

.char:hover {
  filter: blur(0px);
  transition: 0.2s ease-out;
}

.img {
  display: block;
  margin: 0 auto;
  width: 56vw;
  filter: blur(4px);
  transition: 1s ease-out;
  margin-bottom: 30px;
}

.img-l {
  display: block;
  margin: 0 auto;
  width: 56vw;
  filter: blur(4px);
  transition: 1s ease-out;
  margin-bottom: 0px;
}

.img:hover, .img-l:hover {
  filter: blur(0px);
  transition: 0.5s ease-out;
}

#description {
  left: 10px;
  top: 10px;
  width: 29vw;
}

#pics {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  /*height: 90vh;*/
  width: 55vw;
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#webring, #back {
  position: fixed;
  background-color: white;
  bottom: 10px;
  left: 10px;
}
