
body {
  background: white;
  font-family: Arial, sans-serif;
}

li {
  display: inline;
  margin-right: 15px;
}

a:link {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: underline;
  color: #434343;
}

a:visited {
  color: #212121;
}

center {
  margin-top: 89px;
}

input {
  margin-top: 46px;
  margin-bottom: 20px;
  width: 487px;
  height: 44px;
  background-color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  padding-left: 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

input:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input::placeholder {
  color: black;
}

input:focus {
  outline: none;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

button {
  background: #f4f4f4;
  padding-left: 16px;
  padding-right: 16px;
  margin: 12px 4px 12px 4px;
  height: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #757575;
}

button:hover {
  color: black;
  border-color: #C4C4C4;
}

button:focus {
  outline: none;
}

#table-of-contents {
  margin: auto;
  text-align: right;
  padding: 0.2em;
  font-size: 13px;
}

#table-of-contents ul {
  padding: 0;
  list-style-type: none;
}

#footer {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  left: 0px;
  bottom: 0px;
  font-size: 13px;
  border-top: 1px solid #e4e4e4;
}

#footer ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin-left: 30px;
}

.logo {
  padding-top: 55px;
  width: 240px;
}
